<a href="https://colab.research.google.com/github/shibili45/DATA-SCIENCE/blob/main/internal_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

In [34]:
dataset=pd.read_csv('/content/insurance.csv')

In [35]:
dataset

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       1  16884.92400
1      18    1  33.770         1       1       2   1725.55230
2      28    1  33.000         3       1       2   4449.46200
3      33    1  22.705         0       1       3  21984.47061
4      32    1  28.880         0       1       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       1       3  10600.54830
1334   18    0  31.920         0       1       4   2205.98080
1335   18    0  36.850         0       1       2   1629.83350
1336   21    0  25.800         0       1       1   2007.94500
1337   61    0  29.070         0       1       3  29141.36030

[1338 rows x 7 columns]

In [36]:
import seaborn as sns

In [42]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [45]:
scaled_feature=scaler.fit_transform(dataset.drop('smoker',axis=1))
new_dataset=pd.DataFrame(scaled_feature)
X=new_dataset
y=dataset['smoker']

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [49]:
from sklearn.neighbors import KNeighborsClassifier

In [51]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [52]:
classifier=KNeighborsClassifier()

In [54]:
classifier.fit(X_train,y_train)
y_pred=classifier.predict(X_test)

In [60]:
print("Confusion Matrix : ",confusion_matrix(y_test,y_pred))
print('Classification report : ',classification_report(y_test,y_pred))
print('Accuracy Score : ',accuracy_score(y_test,y_pred))

Confusion Matrix :  [[402]]
Classification report :                precision    recall  f1-score   support

           1       1.00      1.00      1.00       402

    accuracy                           1.00       402
   macro avg       1.00      1.00      1.00       402
weighted avg       1.00      1.00      1.00       402

Accuracy Score :  1.0